@model Test_Project_Hotel.ViewModels.Workers.CreateWorkerViewModel
@{
    ViewBag.Title = "Add worker";
}
<h2>Add new worker</h2>
<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="WorkerFIO" class="control-label">Worker FIO</label>
            <input type="text" asp-for="WorkerFIO" class="form-control" />
            <label asp-for="WorkerPost" class="control-label">Worker's post</label>
            <input type="text" asp-for="WorkerPost" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-4">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
</form>
<a asp-action="Index" style="float: right;">Back</a>