@model Test_Project_Hotel.ViewModels.Clients.CreateClientViewModel
@{
    ViewBag.Title = "Add client";
}
<h2>Add new client</h2>
<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="ClientFIO" class="control-label">Client FIO</label>
            <input type="text" asp-for="ClientFIO" class="form-control" />
            <label asp-for="ClientPassportData" class="control-label">Client's passport data</label>
            <input type="text" asp-for="ClientPassportData" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-4">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
</form>
<a asp-action="Index" style="float: right;">Back</a>