@{
    ViewData["Title"] = "Home Page";
}



@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome, @User.Identity.Name </h1>
    
    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log out" />
    </form>
}
else
{
    <header>
        <h1>Welcome to ASP.Net Core Web application "Hotel"!</h1>
    </header>

    <h3>To proceed, you need to authorize</h3>
}